# Arquivos de build do Maven
/target/

# Logs
*.log

# Configurações específicas de IDEs
*.iml
.idea/
*.classpath
*.project
*.settings/

# Sistema operacional
.DS_Store
Thumbs.db

# Arquivos temporários
*.tmp
*.swp
*.bak

# Dependências locais
.mvn/wrapper/maven-wrapper.jar

# Configurações de ambiente (se existirem)
application-*.yml
application-*.properties
